html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --font-color: white;
}

/* Navbar + main photo  */
.container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 101%;
    height: 700px;
    background-image: url(./img/software-developer-gb520e1c22_1280.jpeg);
    background-size: cover;
    background-position: center;

}

/* Navbar */
.nav {
    display: flex;
    flex-direction: inline;
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    flex-wrap: wrap;
    z-index: 2;
}

/* Navbar -left */
.name {
    display: flex;
    display: inline;
    width: 35%;
    height: 70px;
    color: var(--font-color);
    flex-wrap: wrap;
    align-items: center;
}

.name ul li {
    display: flex;
    display: inline;
    align-items: center;
}

.name ul li p {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    width: 260px;
    align-items: center;
    margin: 0;
}

.name span {
    color: lime;
}

.nav2 ul li a:hover {
    color: lime;
}

.nav2 ul li a:hover:before {
    content: "{";
    color: lime;
}

.nav2 ul li a:hover:after {
    content: "}";
    color: lime;
}

/* Navbar left Grid */
@media (max-width: 700px) {
    .name {
        display: flex;
        display: inline;
        width: 100%;
        height: 30px;
        color: var(--font-color);
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .name ul li {
        display: flex;
        display: inline;

    }

    .name ul li p {

        width: 100%;
        display: flex;
        font-size: 20px;
        position: relative;
        justify-content: center;
    }

    .nav {
        display: flex;
        flex-direction: inline;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: black;
        position: fixed;
        flex-wrap: wrap;

    }
}

/* Navbar - right */
.nav2 {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav2 ul li {
    display: inline;
    cursor: pointer;
}

.nav ul li a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color);
}

@media (max-width: 700px) {
    .nav2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* right navbar */
@media (max-width: 700px) {
    .nav ul li a {
        margin: 2px;
        text-decoration: none;
        font-size: 20px;
        color: var(--font-color);
    }
}

/* Portfolio Grid gallery */
.container2 {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
    grid-template-areas:
        "travel travel gym"
        "hair-studio restaurant restaurant"
        "socialmedia restaurant restaurant"
    ;
}

.travel {
    grid-area: travel;
    background-image: url(./img/travel.jpeg);
    height: 40vh;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.gym {
    grid-area: gym;
    background-image: url(./img/gym.jpeg);
    background-size: cover;
    background-position: center;
 
    
}

.hair-studio {
    grid-area: hair-studio;
    background-image: url(./img/hair.jpeg);
    background-size: cover;
    background-position: center;
}

.restaurant {
    grid-area: restaurant;
    background-image: url(./img/restaurant.jpeg);
    background-size: cover;
    background-position: center;
}

.socialmedia {
    grid-area: socialmedia;
    background-image: url(./img/socialmedia.jpeg);
    background-position: center;
}

.container2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 div p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--font-color);
    background-color: #002B5B;
    font-size: 35px;
   text-decoration: none;
}
.container2 a{
    text-decoration: none;
    color: var(--font-color);
}
.travel p {
    width: 130px;
    border-radius: 2rem;
    cursor: pointer;
}

.gym p {
    width: 100px;
    border-radius: 2rem;
}

.hair-studio p {
    width: 100px;
    border-radius: 2rem;
}

.restaurant p {
    width: 200px;
    border-radius: 2rem;
}

.socialmedia p {
    width: 240px;
    border-radius: 2rem;
}

.Portfolio h2 {
    margin-left: 20px;
    font-size: 30px;
}

/* Portfolio Grid gallery */
@media (max-width: 700px) {
    .container2 {
        display: grid;
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;
        grid-template-areas:
            "travel"
            "hair-studio"
            "gym"
            "socialmedia"
            "restaurant"
        ;
    }

    .travel {
        grid-area: travel;
        background-image: url(./img/travel.jpeg);
        height: 40vh;
        background-size: cover;
        
    }

    .gym {
        grid-area: gym;
        background-image: url(./img/gym.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      
    }

    .hair-studio {
        grid-area: hair-studio;
        background-image: url(./img/hair.jpeg);
        background-size: cover;
     
    }

    .restaurant {
        grid-area: restaurant;
        background-image: url(./img/restaurant.jpeg);
        background-size: cover;
       
      
    }
}

/* Skills */
.Skills h3 {
    margin-left: 20px;
    font-size: 30px;
}

.skills {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
}

/* Skills Flexbox gallery */
@media (max-width: 700px) {
    .skills img {
        height: 30px;
    }

    .skills {
        height: 30px;
    }
}

.Contact h4 {
    margin-left: 20px;
    font-size: 30px;
}

/* Footer / Contact */
.Contact{
    display: flex;
    flex-direction: row;
    align-items: center;  
    width:98%;
    height: 70px;
}

.empty{
    width: 25%;
}

.email {
    font-size: 10px;
display: flex;
width: 75%;
flex-direction: row;
justify-content: flex-end;
}

.email h4{
    font-size: 20px;
}

.top{
    position: relative;
    top: 130%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    color: white;
    justify-content: flex-end;
    z-index: 0;
  }


.top h4{
    display: flex;
    justify-content: center;
    color: var(--font-color);
    border: 1px solid lime;
    
    font-size: 50px;
    font-family: ;
}

@media (max-width: 700px) {

    .top{
        position: relative;
        top: 130%;
        left: 50%;
        width: 400px;
        transform: translate(-50%, -50%);
        color: white;
        justify-content: flex-end;
        z-index: 0;
      }


      .top h4{
        display: flex;
        justify-content: center;
        color: var(--font-color);
        border: 1px solid lime;
        border-radius: ;
        font-size: 30px;
        
    }
}
